<div class="footer-container">
  <div class="footer-content">
    <div class="footer-social-medias">
      <a href="https://instagram.com/__ceylinc__/" target="_blank" rel="noopener">
        <img src="/instagram.svg" alt="Instagram" />
      </a>
      <a
        href="https://linkedin.com/in/ceylin-caltepe"
        target="_blank"
        rel="noopener"
      >
        <img src="/linkedin.svg" alt="LinkedIn" />
      </a>
      <a href="mailto:caltepeceylin@gmail.com">
        <img src="/email.svg" alt="Email" />
      </a>
    </div>
    <p class="footer-text">Ceylin Çaltepe 2025</p>
  </div>
  <img class="footer-img" src="/footer.svg" alt="Footer" />
</div>
